In [ ]:
import pandas as pd
import numpy as np
import re

# load in the data file and view the first 5 lines just to make sure
# 'C:\\Users\\maxjp\\PycharmProjects\\complingproject\\MasterDataFile.csv') 
df = pd.read_csv('MasterDataFile.csv')
df.head()

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [95]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [105]:
import string
df = pd.read_csv('MasterDataFile.csv')      # to read the training data into working memory
df['feature'] = df['feature'].astype(np.str).replace(to_replace= (('\.'),('\?')), value='', regex=True)
df['feature'] = df['feature'].astype(np.str).replace(to_replace= ('\,'), value=' ', regex=True)
#df['feature'] = df['feature'].replace(to_replace=string.punctuation, value=' ')
df['feature']
# misc['product_desc'] = misc['product_desc'].astype(np.str).replace(to_replace='\n', value='', regex=True)

0       Hello Scott I'm wondering if you have any reco...
1       Cool I've just left a BI company here in Utah ...
2       Where are the instructions for downloading the...
3       Hi Shaun - to be honest  I have not seen very ...
4       Welcome Mitra!  Do you happen to know Richard ...
5       Hi all I'll talk with Professor Baker about th...
6       Yes! I work out of the Edsby office in Richmon...
7                                       +1 for the +1 :-)
8       Thank you Jeff for the information The exact h...
9       Hi Shaun Regarding your question about data se...
10      Unfortunately  not But would like to know more...
11      John  I am also stuck on finding 'DesigningCon...
12      Where are the PDFs  I've been looking for his ...
13      For fellow students trying to do the in-class ...
14      I got that same error  but then I realized I h...
15      Thanks RyanSo for students one or half a step ...
16      I just created a 'Supplemental Materials' page...
17      Jo  did that and have the correct data set but...
18      I suggest the professor (or others) at least t...
19      John --- I'm having a similar problem when try...
20      I was wondering why I couldn't get it right an...
21      Hi Ryan  Thank you so much for the update I sa...
22      Cool! Instructure is really neat Our product i...
23      If you go to the Video Lectures page  the icon...
24      Nice  Instructure is a great product  We devel...
25      Cool!  I didn't notice that  It would be great...
26      The inline quiz image has been fixed - it now ...
27      7 MOOCs Good luck I have only successfully jug...
28      You need to go through the entire import data ...
29      Terry  it is too late this side of the world f...
                              ...
4014      ; I have a question regarding the creation o...
4015     # Read \r\ndata  ;- readtable("bigdata1csv" s...
4016    Since Prof Baker's user id is 24601  I'm assum...
4017    Thanks a lot to Professor Baker  Luc and all t...
4018                   Daniel -- you caught the joke! :-)
4019    Instead of using R merely to prepare data for ...
4020    Hi   I was abroad without internet connection ...
4021    Many thanks for Professor Baker!Â  Your course...
4022    Hi Sir  I just joined the course Is it late to...
4023      Problem:  As soon as I enrolled  the course ...
4024    Well  I just got this update today  and the cl...
4025    Here I have updated the above chart to include...
4026    hellow i cant pass the course but congratulati...
4027    Hi! <a href="ualinkedincom/in/aleksandrovoleks...
4028    <img src="https://coursera-forum-screenshotss3...
4029         how to do Sentimental analysis on a data set
4030    I just found and registeredÂ  this class today...
4031    Hi  nice to meet you here I'm just registered ...
4032    Hi  I also have the same question  i have regi...
4033    I didn't get any response so I guess the answe...
4034    I have also registered to the course couple of...
4035     Hello Gentle Readers: I just happened to see ...
4036    I know that the course ended a while ago but I...
4037    where shall i find the study materials  new to...
4038    Well  you can go to the main webpage for this ...
4039    Hi there  I have followed the course andÂ  how...
4040    If you completed all the requirements in a tim...
4041                          Thank you I downloaded it
4042          Problem:   No warning that that I cannot...
4043    hii just started with data mining wanna learn ...
Name: feature, Length: 4044, dtype: object

In [88]:
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>feature</th>
      <th>target</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Hello Scott. I'm wondering if you have any rec...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Cool. I've just left a BI company here in Utah...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Where are the instructions for downloading the...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Hi Shaun - to be honest, I have not seen very ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Welcome Mitra!  Do you happen to know Richard ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Hi all,I'll talk with Professor Baker about th...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Yes! I work out of the Edsby office in Richmon...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>+1 for the +1 :-)</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Thank you Jeff for the information. The exact ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Hi Shaun,Regarding your question about data se...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Unfortunately, not. But would like to know mor...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>John, I am also stuck on finding 'DesigningCon...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Where are the PDFs?  I've been looking for his...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>For fellow students trying to do the in-class ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>I got that same error, but then I realized I h...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Thanks Ryan.So for students one or half a step...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>I just created a 'Supplemental Materials' page...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Jo, did that and have the correct data set but...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>I suggest the professor (or others) at least t...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>John --- I'm having a similar problem when try...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>I was wondering why I couldn't get it right an...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Hi Ryan, Thank you so much for the update. I s...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Cool! Instructure is really neat. Our product ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>If you go to the Video Lectures page, the icon...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Nice.  Instructure is a great product.  We dev...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Cool!  I didn't notice that.  It would be grea...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>The inline quiz image has been fixed - it now ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>7 MOOCs? Good luck. I have only successfully j...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>You need to go through the entire import data ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Terry, it is too late this side of the world f...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>4014</th>
      <td>; I have a question regarding the creation o...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4015</th>
      <td># Read \r\ndata  ;- read.table("bigdata1.csv"...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4016</th>
      <td>Since Prof Baker's user id is 24601, I'm assum...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4017</th>
      <td>Thanks a lot to Professor Baker, Luc and all t...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4018</th>
      <td>Daniel -- you caught the joke! :-)</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4019</th>
      <td>Instead of using R merely to prepare data for ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4020</th>
      <td>Hi,  I was abroad without internet connection ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4021</th>
      <td>Many thanks for Professor Baker!Â  Your course...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4022</th>
      <td>Hi Sir, I just joined the course. Is it late t...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4023</th>
      <td>Problem:  As soon as I enrolled, the course ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4024</th>
      <td>Well, I just got this update today, and the cl...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4025</th>
      <td>Here I have updated the above chart to include...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4026</th>
      <td>hellow i cant pass the course,but congratulati...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4027</th>
      <td>Hi! &lt;a href="ua.linkedin.com/in/aleksandrovole...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4028</th>
      <td>&lt;img src="https://coursera-forum-screenshots.s...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4029</th>
      <td>how to do Sentimental analysis on a data set?</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4030</th>
      <td>I just found and registeredÂ  this class today...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4031</th>
      <td>Hi, nice to meet you here. I'm just registered...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4032</th>
      <td>Hi, I also have the same question, i have regi...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4033</th>
      <td>I didn't get any response so I guess the answe...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4034</th>
      <td>I have also registered to the course couple of...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4035</th>
      <td>Hello Gentle Readers: I just happened to see ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4036</th>
      <td>I know that the course ended a while ago but I...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4037</th>
      <td>where shall i find the study materials ? new t...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4038</th>
      <td>Well, you can go to the main webpage for this ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4039</th>
      <td>Hi there  I have followed the course andÂ  how...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4040</th>
      <td>If you completed all the requirements in a tim...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4041</th>
      <td>Thank you. I downloaded it.</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4042</th>
      <td>Problem:   No warning that that I cannot...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4043</th>
      <td>hii.. just started with data mining.. wanna le...</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>4044 rows × 2 columns</p>
</div>

In [67]:
df['col1'] = df['col1'].replace(to_replace=r'<[.]*>', value='a')

In [68]:
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
</div>

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>&lt;turdsandstuff&gt;</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
from sklearn.model_selection import train_test_split

# split the dataset into a test and a training set with a 80/20
X_train, X_test, y_train, y_test = train_test_split(df['feature'],
                                                    df['target'],
                                                    train_size = 0.8,
                                                    test_size = 0.2,
                                                    # random_state=14
                                                    )

In [6]:
print('X_train first entry:\n\n', X_train[0])
print('\n\nX_train shape: ', X_train.shape)

X_train first entry:

 Hello Scott. I'm wondering if you have any recommendations on where someone might look to gain a better understanding of how analytics and data mining have been used to good effect in schools and school districts. Do you have favorite case studies, articles or books? Any tips would be much appreciated. Cheers! (Oh and stay warm.)


X_train shape:  (3235,)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

# vectorize the features of the dataset
vect = CountVectorizer().fit(X_train)

In [8]:
# a look at some of the feature names
vect.get_feature_names()[::2000]

['00', 'bat', 'eeep', 'keeping', 'produced', 'timeslot']

In [9]:
# how many feature name vectors we have created
len(vect.get_feature_names())

11078

In [10]:
# 
X_train_vectorized = vect.transform(X_train)

In [11]:
X_train_vectorized

<3235x11078 sparse matrix of type '<class 'numpy.int64'>'
	with 135917 stored elements in Compressed Sparse Row format>

In [12]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [13]:
from sklearn.metrics import roc_auc_score  

predictions = model.predict(vect.transform(X_test))
print('AUC: ', roc_auc_score(y_test, predictions))

AUC:  0.520196390658

In [14]:
feature_names = np.array(vect.get_feature_names())
sorted_coef_index = model.coef_[0].argsort()

print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs:\n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))

Smallest Coefs:
['luc' 'my' 'hi' 'videos' 'thanks' 'work' 'excel' 'they' 'great' 'getting']

Largest Coefs:
['param' 'steps' 'he' 'video' 'better' 'even' 'ironic' 'score' 'wj48'
 'slides']

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

vect = TfidfVectorizer(min_df=5).fit(X_train)
len(vect.get_feature_names())

2789

In [16]:
X_train_vectorized = vect.transform(X_train)

model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))
print('AUC: ', roc_auc_score(y_test, predictions))

AUC:  0.5

In [17]:
X_train_vectorized = vect.transform(X_train)

model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))
print('AUC: ', roc_auc_score(y_test, predictions))

AUC:  0.5

In [18]:
feature_names = np.array(vect.get_feature_names())
sorted_tfidf_index = X_train_vectorized.max(0).toarray()[0].argsort()

print('Smallest tfidf:\n{}\n'.format(feature_names[sorted_tfidf_index[:10]]))
print('Largest tfidf:\n{}'.format(feature_names[sorted_tfidf_index[:-11:-1]]))

Smallest tfidf:
['mathasst' 'at_12' 'vectors' 'practicing' 'scaling' 'spaced' 'stopped'
 'equally' 'assess' 'performing']

Largest tfidf:
['thanks' 'classic' 'hi' 'group' 'good' 'quiz' 'okay' 'fixed' 'nifty'
 'ryan']

In [19]:
sorted_coef_index = model.coef_[0].argsort()

print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs:\n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))

Smallest Coefs:
['thanks' 'you' 'hi' 'luc' 'http' 'my' 'excel' 'work' 'www' 'be']

Largest Coefs:
['he' 'video' 'too' 'slides' 'steps' 'machine' 'course' 'better' 'fast'
 'to']

In [20]:
vect = CountVectorizer(min_df=5, ngram_range=(1,2)).fit(X_train)
X_train_vectorized = vect.transform(X_train)

len(vect.get_feature_names())

7907

In [21]:
model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))
print('AUC: ', roc_auc_score(y_test, predictions))

AUC:  0.5

In [22]:
import pickle
filename = 'finalized_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [23]:
feature_names = np.array(vect.get_feature_names())
sorted_coef_index = model.coef_[0].argsort()

print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs:\n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))

Smallest Coefs:
['thanks' 'my' 'hi' 'luc' 'videos' 'work' 'excel' 'be' 'to get' 'they']

Largest Coefs:
['video' 'he' 'the steps' 'even' 'steps' 'duplicate' 'better' 'but am'
 'posting' 'difficulty']

In [24]:
print('The END')

The END

In [25]:
vect = CountVectorizer(min_df=5,
                       ngram_range=(1,3),
                       # stop_words='english'
                       ).fit(X_train)
X_train_vectorized = vect.transform(X_train)

len(vect.get_feature_names())

9775

In [26]:
model = LogisticRegression()                        # With 75% data
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))
print('AUC: ', roc_auc_score(y_test, predictions))

AUC:  0.5

In [27]:
feature_names = np.array(vect.get_feature_names())
sorted_coef_index = model.coef_[0].argsort()

print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs:\n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))

Smallest Coefs:
['thanks' 'hi' 'my' 'luc' 'videos' 'work' 'be' 'excel' 'to get' 'any']

Largest Coefs:
['video' 'he' 'even' 'duplicate' 'the steps' 'steps' 'posting' 'better'
 'difficulty' 'slides']

In [28]:
model = LogisticRegression()            # 80% data, 1-3grams, min_df=5
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))
print('Accuracy: ', roc_auc_score(y_test, predictions))

Accuracy:  0.5

In [29]:
vect = CountVectorizer(min_df=5,
                       ngram_range=(1,3),       # now without stopwords
                       # stop_words='english'
                       ).fit(X_train)
X_train_vectorized = vect.transform(X_train)

len(vect.get_feature_names())

9775

In [30]:
model = LogisticRegression()            # 80% data, 1-3grams, min_df=5, w/o stopwords
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))
print('Accuracy: ', roc_auc_score(y_test, predictions))

Accuracy:  0.5

In [31]:
vect = CountVectorizer(analyzer = 'char',
                       min_df=5,
                       ngram_range=(1,3),       
                       # stop_words='english'
                       ).fit(X_train)
X_train_vectorized = vect.transform(X_train)

len(vect.get_feature_names())

10114

In [32]:
model = LogisticRegression()            
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))
print('Accuracy: ', roc_auc_score(y_test, predictions))

Accuracy:  0.557404458599

In [33]:
print(model.predict(vect.transform("txt_sentoken/neg/cv000_29416.txt")))

ValueError: Iterable over raw text documents expected, string object received.

In [34]:
feature_names = np.array(vect.get_feature_names())
sorted_coef_index = model.coef_[0].argsort()

print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs:\n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))

Smallest Coefs:
['?' 'hi ' 'i ' 'd i' 'one' 'ov' 'gr' 'tri' 'ks' '-']

Largest Coefs:
['us ' ' i ' '; i' 'i c' 'tte' 'eve' 't a' 'ir' 'y.' '? t']

In [35]:
test_data = pd